<!DOCTYPE html>
<html>
    <head>
        <title>{{title}}</title>
    </head>
    <body>
        <h1>{{title}}</h1>

        <ul>
            <li>ID:{{student.id}}</li>
            <li>Name:{{student.name}}</li>
            <li>Email:{{student.email}}</li>
        </ul>
        <a href="/students">Back to List</a>
    </body>
</html>